.search-bar-input {
    width: 35vw;
    height: 5vh;
    border-radius: 10px; 
    border-color: rgb(248, 173, 68); 
    border-width: 2px;
    text-align: right;
    /* font-weight: bolder; */
    color: black;
}

.search-bar-picture {
    width: 5vh;
    height: 5vh;
    margin: 0 1vw 0 1vw;
}

.input-group-text {
    background-color: transparent;
    border-color: transparent;
}