<div role="navigation">
    <nav>
        <!-- TODOs: 
                    - add dynamism (?);
                 -->
        <a [ngClass]="{
                'currentPage': i==currentPage,
                'otherPage': i!=currentPage,
                'nav-items': true
            }"
            href="#"
            *ngFor="let item of [].constructor(totalPages); let i = index">
            <button style="border: transparent; background-color: inherit;">
                {{i+1}}
            </button>
        </a>
    </nav>
</div>