.content-text {
    font-family: 'Oswald';
    font-weight: 450;
    font-size: 1.3rem;
    margin-left: 2vw;
}

.card-title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 0.9rem;
}

.card-text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 0.7rem;
}

.card-img-top {
    max-height: 7rem;
    min-height: 6rem;
}

.modal-content {
    border: none;
}

.modal-title {
    font-family: 'Oswald';
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
}

.modal-text {
    font-family: 'Oswald';
    font-size: 1.0rem;
    font-weight: 350;
    color: black;
}

.popup-img {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
}

.btn-yellow {
    background-color: #FFD185;
    border-color: #FFD185;
    color: white;
    font-family: 'Oswald';
    border-radius: 10px;
}

.btn-dark-yellow {
    background-color: rgb(248, 173, 68);
    border-color: rgb(248, 173, 68);
    color: white;
    font-family: 'Oswald';
    border-radius: 10px;
}

.delete-icon {
    font-size: 6rem; 
    height: 6rem; 
    width: 6rem; 
    color: rgb(248, 173, 68);
}

.dropdown {
    border-radius: 10px;
    height: 4vh;
    width: 90%;
    border-color: rgb(248, 173, 68);
    color: rgb(248, 173, 68);
}