<div class="container h-100">
    <div class="row">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtros
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="row mt-4 b-4">
        <p class="content-text">Number of files: {{repoDocuments.length}}</p>
    </div>
    <div class="row mt-4 mx-1 overflow-auto h-100 d-inline-block">
        <div class="row" style="max-height: 50vh;">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4" *ngFor="let doc of repoDocuments">
                <div class="card w-100">
                    <img class="card-img-top" src="../../assets/no_image_background.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row pl-3">
                            <div class="col-8 pl-0">
                                <h5 class="card-title">{{doc.name}}</h5>
                                <p class="card-text card-date mb-0">Date: <span style="font-weight: 300;">{{doc.date.toLocaleDateString()}}</span></p>
                                <p class="card-text card-category">Category: <span style="font-weight: 300;">{{doc.category}}</span></p>
                            </div>
                            <div class="col-2 mx-auto my-auto">
                                <a><mat-icon class="mt-2" style="color: rgb(248, 173, 68);">visibility</mat-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
