@media (min-width: 0px) and (max-width: 799px) {
    .search-bar-input {
        width: 30vw;
        height: 10vh;
        border-radius: 10px; 
        border-color: rgb(248, 173, 68); 
        border-width: 2px;
        text-align: right;
        /* font-weight: bolder; */
        color: black;
    }
    .search-bar-picture {
        width: 10vh;
        height: 10vh;
        margin: 0 0.5vw 0 0.5vw;
    }
    .input-group-text {
        background-color: transparent;
        border-color: transparent;
    }

    .search-bar-icon {
        background-color: rgb(248, 173, 68);
        border-radius: 10px;
        max-height: 10vh;
    }

}

@media (min-width: 800px) and (max-width: 1399px) {
    .search-bar-input {
        width: 35vw;
        height: 8vh;
        border-radius: 10px; 
        border-color: rgb(248, 173, 68); 
        border-width: 2px;
        text-align: right;
        /* font-weight: bolder; */
        color: black;
    }
    .search-bar-picture {
        width: 8vh;
        height: 8vh;
        margin: 0 1vw 0 1vw;
    }
    .input-group-text {
        background-color: transparent;
        border-color: transparent;
    }

    .search-bar-icon {
        background-color: rgb(248, 173, 68);
        border-radius: 10px;
        max-height: 8vh;
    }

}

@media (min-width: 1400px) and (max-width: 2000px) {
    .search-bar-input {
        width: 35vw;
        height: 6vh;
        border-radius: 10px; 
        border-color: rgb(248, 173, 68); 
        border-width: 2px;
        text-align: right;
        /* font-weight: bolder; */
        color: black;
    }

    .search-bar-picture {
        width: 6vh;
        height: 6vh;
        margin: 0 1vw 0 1vw;
    }

    .input-group-text {
        background-color: transparent;
        border-color: transparent;
    }

    .search-bar-icon {
        background-color: rgb(248, 173, 68);
        border-radius: 10px;
        max-height: 6vh;
    }

}

.user-name-display {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.4em;
    color: black;
}

.screen-name-display {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 2.5em;
    color: black;
}

.mtc-4 {
    margin-top: 2.2rem;
}
