<div class="container-fluid">
    <div class="row mt-5">
      <div class="col">
        <div class="float-right">
          <div class="dropdown text-end">
            <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle search-bar-picture">
          </div>
        </div>
        <div class="float-right">
          <div class="input-group">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control dropdown-toggle search-bar-input" placeholder="Search..." id="top-search" aria-label="Search">
            </form>
            <button class="input-group-text" type="submit" style="color: black;"><mat-icon>search</mat-icon></button>
          </div>
        </div> 
      </div>
    </div>
  </div>