<div class="container-fluid">
    <div class="row pb-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mtc-4">
            <h3 class="user-name-display m-0">{{currentUser.name}}'s</h3>
            <h2 class="screen-name-display m-0">{{currentScreen}}</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 mt-5">
            <div class="col-1 float-right mr-4">
                <div class="dropdown text-end">
                    <img src="{{currentUser.image}}" alt="mdo" style="object-fit: cover;" class="rounded-circle search-bar-picture">
                </div>
            </div>
            <div class="col-1 float-right mr-4">
                <div class="text-end">
                    <img src="../../assets/Workspace1_Icon.png" data-toggle="tooltip" data-placement="right" title="Workspace 1" alt="mdo" class="rounded-circle search-bar-picture">
                </div>
            </div>
            <div class="float-right">
                <div class="input-group">
                    <div class="input-group">
                        <input type="text" class="form-control search-bar-input" placeholder="Search">
                        <div class="input-group-append">
                          <button class="btn search-bar-icon mx-auto" type="button">
                            <mat-icon class="mt-1">search</mat-icon>
                          </button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>