/* div.round {
    border: 2px solid orange;
    border-radius: 5px;
}

.bothRows {
  grid-row: 1/3;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 5px;
  align-content: space-around;
  border-style: solid;
  border-radius: 15px;
  border-color: orange;
  border-width: 2px;
  height: 70px;
}
.grid-item {
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}

p.topRight {
  text-align: right;
  vertical-align: top;
}

p.bottomRight {
  text-align: right;
  vertical-align: bottom;
}

p.topLeft {
  text-align: left;
  vertical-align: top;
}

p.bottomLeft {
  text-align: left;
  vertical-align: bottom;
}
 */
