<h2>Recorded receipts</h2>
<ul class="items">
    <ul *ngFor="let item of items">
        <div class="grid-container">
            <!-- Left Icon -->
            <p class="bothRows" style="align-self: center;">ICON</p>
            <!-- Right Icon: Smiley face -->
            <p class="bothRows" style="grid-column: 4; align-self: center;">SMILEY</p>
            <!-- Center void -->
            <p class="bothRows" style="grid-column: 3; width: 500px;"></p>
            <p class="grid-item">{{item.label}}</p>
            <p class="grid-item">{{item.time.hours}}:{{item.time.minutes}}h</p>
            <p class="grid-item">{{item.info}}</p>
            <p class="grid-item">{{item.date}}</p>
        </div>
        <br/>
    </ul>
</ul>