<div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" *ngFor="let num of [1]">
            <mat-card class="mat-elevation-z4">
                <img mat-card-image src="https://images.unsplash.com/photo-1609902726285-00668009f004?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
                <mat-card-title>Himalayan Peaks</mat-card-title>
                <mat-card-content>
                    <p>The Himalayas is a mountin range in Asia.</p>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
