.user-name {
    font-family: 'Oswald';
    font-size: 1.2rem;
    font-weight: 500;
}

.user-image {
    max-height: 55vh;
    object-fit: cover;
}

.filled-box {
    border-style: solid;
    border-color: #FFD185;
    border-width: 2px;
    border-radius: 1rem;
    background-color: #FFD185;
}
  
.filled-box-title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 2rem;
    color: black;
    line-height: 2rem;
}
  
  .filled-box-subtitle {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    height: 3rem;
}
  
.filled-box-text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1rem;
    color: rgb(248, 173, 68);
}

.img-inactive {
    filter: opacity(60%) grayscale(100%);
}

@media (min-width: 0px) and (max-width: 1399px) {
    .card-display {
        padding: 0vw 14vw 0vw 14vw;
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .card-display {
        padding: 0vw 10vw 0vw 10vw;
    }
}