<div class="container">
    <div class="row">
        <div class="col-7">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" [fit-to-page]="true" style="display: block; height: 70vh;"></pdf-viewer>
        </div>
        <div class="offset-1 col-4">
            <div class="filled-box">
                <h3 class="filled-box-title ml-4 mt-3 mb-0">Details</h3>
                <div class="container my-4">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-2">
                                
                            </div>
                            <div class="col">
                                <h4 class="white-box-title mt-2 mb-0">Title</h4>
                                <p class="white-box-text">Fatura EDP</p>
                            </div> 
                        </div>
                    </div>
                    <div class="white-box mt-3">
                        <div class="row">
                            <div class="col-2">
                                
                            </div>
                            <div class="col">
                                <h4 class="white-box-title mt-2 mb-0">Date</h4>
                                <p class="white-box-text">07/06/2021</p>
                            </div> 
                        </div>
                    </div>
                    <div class="white-box mt-3">
                        <div class="row">
                            <div class="col-2">
                                
                            </div>
                            <div class="col">
                                <h4 class="white-box-title mt-2 mb-0">Category</h4>
                                <p class="white-box-text">Electricity</p>
                            </div> 
                        </div>
                    </div>
                    <!-- <button class="btn btn-white w-100 mx-auto text-center mt-4" (click)="ngOnInit()">Delete</button> -->
                    <a routerLink="../../repository">
                        <button class="btn btn-white w-100 mx-auto text-center mt-4">Close</button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>


