<!-- <div class="container-fluid" style="background-image: url('../../assets/Users_Background.png'); background-position-x: center; background-position-y: center;"> -->
<div class="container-fluid">
    <div class="row" style="padding: 0vw 10vw 0vw 10vw;">
        <div [class.col-12]="!searchPerformed" [class.col-8]="searchPerformed">
            <div class="transparent-box h-100">
                <div class="container h-100">
                    <div class="row mx-1">
                        <p class="transparent-box-title mt-4">Share your account with a Wellet user!</p>
                        <p class="transparent-box-subtitle mb-4">Insert the user's email:</p>
                    </div>
                    <div class="row mx-2">
                        <div class="input-group">
                            <input type="text" class="form-control search-bar-input" placeholder="USER EMAIL"
                                [(ngModel)]="userEmailTyped">
                            <!-- <div class="input-group-append">
                                <button class="btn search-bar-icon mx-auto" type="button">
                                <mat-icon class="mt-1">search</mat-icon>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <div class="button-row mt-4 mx-1">
                        <button class="btn btn-search" (click)="searchUser()">Search</button>
                        <button class="btn" type="submit">Email</button>
                        <a routerLink="../users">
                            <button class="btn">Cancel</button>
                        </a>
                        <!-- <a class="btn btn-search" routerLink="../users" role="button">Link</a> -->
                    </div>
                    <div class="row mx-1 mb-4" style="margin-top: 8vw;">
                        <mat-icon>help_outline</mat-icon>
                        <p class="transparent-box-text mt-4">Can't find the user? The person doesn't own a Wellet
                            account?</p>
                        <p class="transparent-box-text">Click on "Email" to ask them to join Wellet!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" align="center" *ngIf="searchPerformed && userFound">
            <div class="card mx-auto" style="width: 70%; border-radius: 20px;">
                <img class="card-img-top user-image" style="border-radius: 20px;" src="{{userFound.image}}"
                    alt="Card image cap">
            </div>
            <p class="user-title">{{userFound.name}}</p>
            <p class="user-subtitle">IS THIS THE USER?</p>
            <button class="btn btn-invite" data-toggle="modal" data-target="#inviteSentModal" (click)="onUserInvited()">INVITE USER</button>
        </div>
        <div class="col-4" align="center" *ngIf="searchPerformed && !userFound">
            <div class="card mx-auto" style="width: 70%; border-radius: 20px;">
                <img class="card-img-top user-image" style="border-radius: 20px;" src="../../assets/UserNotFound.png"
                    alt="Card image cap">
            </div>
            <p class="user-title">NOT FOUND</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="userFound" class="modal fade" id="inviteSentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <div class="col-8">
                <h5 class="modal-title">Invitation Sent</h5>
            </div>
            <div class="col">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">
          <p class="modal-text">The invite was successfuly sent to {{userFound.name}}!</p>
        </div>
      </div>
    </div>
  </div>