.transparent-box {
    border: none;
}

.transparent-box-title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(248, 173, 68);
}

.transparent-box-subtitle {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}

.transparent-box-text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1rem;
    color: rgb(248, 173, 68);
}

.form-control {
    border-width: 2px;
    border-color: #FFD185;
}

.form-control::placeholder {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 0.9rem;
}

.filled-box {
    border-style: solid;
    border-color: #FFD185;
    border-width: 2px;
    border-radius: 1rem;
    background-color: #FFD185;
}
  
.filled-box-title {
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
}
  
.filled-box-subtitle {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
}
  
.filled-box-text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1rem;
    color: white
}

.white-box {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 1rem;
    background-color: white;
}
  
.white-box-title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
  
.white-box-text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 0.9rem;
    color: rgb(248, 173, 68);
}

.input-group-text {
    background-color: #FFD185;
    border-color: #FFD185;
}

.btn-yellow {
    background-color: #FFD185;
    border-color: #FFD185;
    color: white;
    font-family: 'Oswald';
    border-radius: 10px;
}

.btn-yellow.active {
    background-color: rgb(248, 173, 68);
}

.btn-white {
    background-color: white;
    border-color: white;
    color: black;
    font-family: 'Oswald';
    border-radius: 15px;
    box-shadow:
        0 1.8px 1.2px rgba(0, 0, 0, 0.034),
        0 5.7px 4.3px rgba(0, 0, 0, 0.048),
        0 10.5px 8px rgba(0, 0, 0, 0.06),
        0 20.3px 15.9px rgba(0, 0, 0, 0.072),
        0 35.8px 28.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.btn-white:hover {
    background-color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
}

.form-check-input:checked {
    background-color: rgb(248, 173, 68);
    background-color: rgb(248, 173, 68);
}

.transaction-accepted-icon {
    font-size: 6rem; 
    height: 6rem; 
    width: 6rem; 
    color: rgb(248, 173, 68);
}

.modal-content {
    border: none;
}

.modal-title {
    font-family: 'Oswald';
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
}